@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.no-tag-color .ant-select-selection-item {
  background-color: transparent !important;
  color: inherit !important;
  border: none !important;
}

.ant-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.ant-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}



